



@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$gray-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

body{
    margin:0px;
    padding:0px;
    font-family: 'Outfit', sans-serif;   
    font-size: 15px;
    background-color: $light-gray;
    position:relative;
    width:100%;
    height: 100vh;
}

.qr-image{
    width:100%;
    height: 200px;
    border-radius: 5px;
}


.container{
    width:250px;
    height: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius: 5px;
    background-color: $white;
    p:nth-child(1) {
       font-weight: bold;       
    }

    p:nth-child(2) {
        color: $gray-blue;
        font-size: 12px;    
     }

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }